<!DOCTYPE html>
<html>
<body style="background-color:#0040ff;">
<style>
  a:link {
      color: White;
      background-color: transparent;
      text-decoration: none;
  }
  a:visited {
      color: White;
      background-color: transparent;
      text-decoration: none;
  }
  a:hover {
      color: #ecec13;
      background-color: transparent;
      text-decoration: none;
  }
  body {
        display: block;
        margin: 70px;
  }
</style>

<h1 class = fable
    style="font-family:verdana;
           font-size:300%;
           color:white;">
  {{fable.title}}
</h1>

<p1 class=fable
    style="font-family:verdana;
           font-size:150%;
           color:white;">
    {{fable.body}}
</p1>

</body>
</html>
