<!DOCTYPE html>
<html>
<body style="background-color:#0040ff;">
<style>
  a:link {
      color: White;
      background-color: transparent;
      text-decoration: none;
  }
  a:visited {
      color: White;
      background-color: transparent;
      text-decoration: none;
  }
  a:hover {
      color: #ecec13;
      background-color: transparent;
      text-decoration: none;
  }
  body {
        display: block;
        margin: 70px;
  }

  p {
    text-indent: 50px;
  }

</style>

<h1 class = fable
    style="font-family:verdana;
           font-size:300%;
           color:white;">
  {{fable.title}}
</h1>

<p class=fable
    style="font-family:verdana;
           font-size:100%;
           color:white;">
    {{fable.body}}
    <br>
    <br>
</p>

<p2 class=fable
  style="font-family:verdana;
         font-size:100%;
         color:white;">
    <br>
    {{fable.moral}}
</p2>

</body>
</html>
